/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Start custom CSS code */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
}

* {
    font-family: 'Poppins', sans-serif !important;
}

i {
    font-family: "Font Awesome 6 Free" !important;
}

div.content {
    max-width: 80em;
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    padding: 1em 0 1em 0;
    border-bottom: 1px solid #dddddd;
}

header > a {
    font-size: 1.25em;
    font-weight: 600;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

header > nav {
    margin-left: auto;
}

header > nav > ul {
    display: flex;
    gap: 1em;
}

header > nav > ul > li > a {
    font-weight: 400;
    display: block;
    padding: 1em;
    color: black;
    text-decoration: none;
}

header > nav > ul > li > a.active {
    font-weight: 600;
}

section.alert {
    margin: 2em 0 0 0;
    background-color: #f66f6f;
    padding: 1em 1em 1em 1em;
    border-radius: .5em;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
    color: white;
    font-weight: 600;
    display: flex;
    overflow: hidden;
    user-select: none;
    transition: .25s;
}

section.alert:hover {
    transform: scale(1.025);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
    cursor: pointer;
}

section.alert > i {
    margin-left: auto;
    transform: translateX(50px);
    opacity: 0;
    transition: .5s;
}

section.alert:hover > i {
    transform: translateX(0px);
    opacity: 1;
}

section.intro {
    margin: 6em 0 3em 0;
    padding: 4em 2em 4em 2em;
    background-color: #eeeeee;
    border-radius: 2em;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
}

section.intro > h1 {
    font-size: 3em;
}

section.intro > h1 span.name {
    color: #367db8;
    font-weight: 600;
}

section.intro > p {
    margin-top: 1em;
}

section.intro > p:first-of-type {
    font-size: 2em;
    font-weight: 200;
}

section.intro > p:last-of-type {
    font-size: 1.5em;
}

section.highlights,
section.work {
    margin: 6em 0 3em 0;
}

section.highlights > h2,
section.work > h2 {
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 1.5em;
}

section.highlights > section,
section.work > section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
}

section.highlights > section > article,
section.work > section > article {
    background-color: black;
    border-radius: 1em;
    width: 400px;
    aspect-ratio: 1 / 0.5;
    color: black;
    box-sizing: border-box;
    overflow: hidden;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
    transition: .5s;
}

section.highlights > section > article:hover,
section.work > section > article:hover {
    transform: scale(1.05);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
    cursor: pointer;
}

article.apple {
    background-image: url("../images/apple-remake.png");
    background-size: cover;
}

article.pokemon {
    background-image: url("../images/pokemon-battle.png");
    background-size: cover;
}

article.lyrics {
    background-image: url("../images/lyrics-video.png");
    background-size: cover;
    color: white !important;
}

article.matching {
    background-color: #2d9c5b !important;
}

section.highlights > section > article > p,
section.work > section > article > p {
    user-select: none;
}

section.highlights > section > article > p:first-of-type,
section.work > section > article > p:first-of-type {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: .5em;
    transform: translateY(30px);
    transition: .5s;
}

section.highlights > section > article > p:last-of-type,
section.work > section > article > p:last-of-type {
    transform: translateY(40px);
    opacity: 0;
    transition: .5s;
}

section.highlights > section > article:hover > p:first-of-type,
section.work > section > article:hover > p:first-of-type {
    transform: translateY(0px);
}

section.highlights > section > article:hover > p:last-of-type,
section.work > section > article:hover > p:last-of-type {
    transform: translateY(0px);
    opacity: 1;
}

section.work > section.row:not(:first-of-type) {
    margin-top: 1.5em;
}

section.about-me {
    display: grid;
    grid-template-columns: 2fr 1fr;
    box-sizing: border-box;
    margin: 6em 0 3em 0;
}

section.about-me > section:last-of-type {
    display: flex;
    justify-content: end;
}

section.about-me > section > h2 {
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 1.5em;
}

section.about-me > section > p {
    font-size: 1.2em;
    margin-bottom: 1em;
}

section.about-me > section > a {
    margin-right: 10px;
}

section.about-me > section > img {
    width: 300px;
    border-radius: 1em;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
}

a.button {
    display: inline-block;
    background-color: #367db8;
    margin-top: 1.5em;
    padding: 1em;
    color: white;
    border-radius: .5em;
    width: 150px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    transition: .25s;
}

a.button:hover {
    background-color: #205e91;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
}

a.button-alt {
    display: inline-block;
    box-shadow: inset -2px 0 0 #367db8, inset 0 -2px 0 #367db8, inset 2px 0 0 #367db8, inset 0 2px 0 #367db8;
    background-color: white;
    margin-top: 1.5em;
    padding: 1em;
    color: #367db8;
    border-radius: .5em;
    width: 150px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
}

a.button-alt:hover {
    background-color: #367db8;
    color: white;
    transition: .25s;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
}